# Fire response traits in plants from field samples

This script contains examples of R code to query tables in the database

## Load libraries

In [30]:
library(RPostgreSQL)
library(ggplot2)
library(dplyr)
require(tidyr)
library(galah)
library(ozmaps)
library(sf)
library(data.tree)

In [31]:
here::i_am("read-from-database/Read-table-traits-per-species.ipynb")

here() starts at /Users/z3529065/proyectos/fireveg/fireveg-analysis

In [32]:
galah_config(email = readLines(here::here("secrets","galah-email.txt")))

## Query database
### Connect to the database

Read database credentials

In [33]:
if (file.exists("../secrets/database.ini")) {
  tmp <- readLines("../secrets/database.ini")[-1]
  tmp <- strsplit(tmp,'=',fixed=2)
  dbinfo <- unlist(lapply(tmp,function(x) x[2]))
  names(dbinfo) <- unlist(lapply(tmp,function(x) x[1]))
  dbinfo <- data.frame(t(dbinfo),stringsAsFactors=F)
   rm(tmp)
} else {
  cat("No database information found")
}

Connection to the postgresql server (remember to update .pgpass file)

In [34]:
drv <- dbDriver("PostgreSQL") ## 
con <- dbConnect(drv, dbname = dbinfo$database,
                 host = dbinfo$host, port = dbinfo$port,
                 user = dbinfo$user) # this works better in combination with a .pgpass file

### Queries

First check one record to examine the valid columns in the species table:

In [35]:
qry <- "SELECT * FROM species.caps LIMIT 1"
rslts <- dbGetQuery(con, qry)
t(rslts)

                              1
row.names                     1
speciesID                     2358
taxonRank                     Species
classID                       38
class                         Flora
orderID                       137
order                         Flora
familyID                      155
family                        Brassicaceae
sortOrder                     7878
genusID                       3019
genus                         Lepidium
parentSpeciesID               2358
specificEpithet               oxytrichum
infraspecificEpithet          NA
scientificNameAuthorship      Sprague
scientificNameID              2358
speciesCode_Synonym           1826
scientificName                Lepidium oxytrichum
scientificNameHTML            <em>Lepidium oxytrichum</em>
vernacularName                NA
otherVernacularNames          NA
taxonID                       2358
currentScientificNameCode     1826
currentScientificName         Lepidium oxytrichum
currentVernacularName         NA
isCurrent                     true
generalTypeID                 NA
generalType                   NA
establishmentMeans            Alive in NSW, Native
primaryGrowthForm             Forb
primaryGrowthFormGroup        Forb (FG)
secondaryGrowthForms          NA
secondaryGrowthFormGroups     NA
stateConservation             Not Listed
protectedInNSW                false
sensitivityClass              Not Sensitive
TSProfileID                   NA
countryConservation           Not Listed
highThreatWeed                NA
widelyCultivatedNativeSpecies NA
CAMBA                         false
JAMBA                         false
ROKAMBA                       false

Now we select the columns we need from the taxonomy table and join with field work and literature trait tables.

In [36]:
qry <- 
'SELECT family, genus, 
"speciesID" as spp, 
"scientificName" as species,
"taxonID" as current_spp,
"currentScientificName" as current_species,
"taxonRank" as taxonrank,
"establishmentMeans" as establishment,
"isCurrent" as current,
count(distinct q.record_id) as nquadrat, 
count(distinct g8.record_id) as germ8, 
count(distinct r2.record_id) as rect2,
count(distinct g1.record_id) as germ1, 
count(distinct gw1.record_id) as grow1, 
count(distinct r4.record_id) as repr4, 
count(distinct rp2.record_id) as repr2, 
count(distinct s5.record_id) as surv5, 
count(distinct s6.record_id) as surv6, 
count(distinct s7.record_id) as surv7, 
count(distinct d1.record_id) as disp1, 
count(distinct r3a.record_id) as repr3a, 
count(distinct r3.record_id) as repr3, 
count(distinct s4.record_id) as surv4, 
count(distinct s1.record_id) as surv1
FROM species.caps  
LEFT JOIN form.quadrat_samples q  
 ON "speciesCode_Synonym"=q.species_code::text   
LEFT JOIN litrev.germ8 g8  ON "speciesCode_Synonym"=g8.species_code::text   
LEFT JOIN litrev.rect2 r2  ON "speciesCode_Synonym"=r2.species_code::text   
LEFT JOIN litrev.germ1 g1  ON "speciesCode_Synonym"=g1.species_code::text   
LEFT JOIN litrev.grow1 gw1  ON "speciesCode_Synonym"=gw1.species_code::text   
LEFT JOIN litrev.repr2 rp2  ON "speciesCode_Synonym"=rp2.species_code::text   
LEFT JOIN litrev.repr4 r4  ON "speciesCode_Synonym"=r4.species_code::text   
LEFT JOIN litrev.surv5 s5  ON "speciesCode_Synonym"=s5.species_code::text   
LEFT JOIN litrev.surv6 s6  ON "speciesCode_Synonym"=s6.species_code::text   
LEFT JOIN litrev.surv7 s7  ON "speciesCode_Synonym"=s7.species_code::text   
LEFT JOIN litrev.disp1 d1  ON "speciesCode_Synonym"=d1.species_code::text   
LEFT JOIN litrev.repr3a r3a  ON "speciesCode_Synonym"=r3a.species_code::text   
LEFT JOIN litrev.repr3 r3  ON "speciesCode_Synonym"=r3.species_code::text   
LEFT JOIN litrev.surv4 s4  ON "speciesCode_Synonym"=s4.species_code::text   
LEFT JOIN litrev.surv1 s1  ON "speciesCode_Synonym"=s1.species_code::text   

GROUP BY spp'

In [37]:
spp.table<- dbGetQuery(con, qry)
str(spp.table)

'data.frame':	15732 obs. of  24 variables:
 $ family         : chr  "Brassicaceae" "Myrtaceae" "Myrtaceae" "Apiaceae" ...
 $ genus          : chr  "Lepidium" "Eucalyptus" "Melaleuca" "Actinotus" ...
 $ spp            : num  2358 2359 2360 2361 2362 ...
 $ species        : chr  "Lepidium oxytrichum" "Eucalyptus williamsiana" "Melaleuca glomerata" "Actinotus helianthi" ...
 $ current_spp    : num  2358 2359 2360 2361 2362 ...
 $ current_species: chr  "Lepidium oxytrichum" "Eucalyptus williamsiana" "Melaleuca glomerata" "Actinotus helianthi" ...
 $ taxonrank      : chr  "Species" "Species" "Species" "Species" ...
 $ establishment  : chr  "Alive in NSW, Native" "Alive in NSW, Native" "Alive in NSW, Native" "Alive in NSW, Native" ...
 $ current        : chr  "true" "true" "true" "true" ...
 $ nquadrat       : num  0 0 0 0 0 2 1 0 0 0 ...
 $ germ8          : num  0 0 0 0 0 0 0 0 0 0 ...
 $ rect2          : num  0 1 0 2 0 0 0 0 0 0 ...
 $ germ1          : num  0 1 0 1 0 0 0 0 0 1 ...
 $ grow1          : num  0 0 0 0 0 0 0 0 0 0 ...
 $ repr4          : num  0 0 0 1 0 0 0 0 0 0 ...
 $ repr2          : num  0 0 0 0 0 0 0 0 0 0 ...
 $ surv5          : num  0 0 0 2 0 0 0 0 0 0 ...
 $ surv6          : num  0 0 0 0 0 0 0 0 0 0 ...
 $ surv7          : num  0 0 0 1 0 0 0 0 0 0 ...
 $ disp1          : num  3 0 0 3 1 1 0 1 0 1 ...
 $ repr3a         : num  0 0 0 0 0 0 1 0 0 0 ...
 $ repr3          : num  0 0 0 3 0 0 0 0 0 0 ...
 $ surv4          : num  0 0 0 0 0 0 1 0 0 0 ...
 $ surv1          : num  1 6 3 14 1 1 3 1 0 7 ...

### Disconnect

In [38]:
dbDisconnect(con)

[1] TRUE

## Query taxonomy from Atlas of Living Australia

In [10]:
nsw <- st_transform(ozmaps::ozmap_states, 4326) %>% filter(NAME == "New South Wales")

In [11]:
ALA_taxonomy_file <- here::here('data','NSW-plants-according-to-ALA.rds')
if (!file.exists(ALA_taxonomy_file)) {
    plant_families <- galah_call() |>
        galah_identify("plantae") |>
        galah_geolocate(nsw, type = "bbox")|>
        galah_down_to(family) |>
        atlas_taxonomy()
    saveRDS(file=here::here('data','NSW-plants-according-to-ALA.rds'),plant_families)
} else {
    plant_families <- readRDS(ALA_taxonomy_file)
}

In [12]:
print(plant_families, pruneMethod = "dist", limit = 10)

                           levelName
1  Plantae
2   ¦--Rhodoplantae
3   ¦   °--Glaucophyta
4   ¦       °--... 1 nodes w/ 2 sub
5   ¦--Anthocerotophyta
6   ¦   °--Anthocerotopsida
7   ¦       °--... 3 nodes w/ 6 sub
8   ¦--Bryophyta
9   ¦   °--... 4 nodes w/ 128 sub
10  ¦--Charophyta
11  ¦   °--... 2 nodes w/ 459 sub
12  ¦--Marchantiophyta
13  ¦   ¦--Jungermanniopsida
14  ¦   ¦   °--... 3 nodes w/ 76 sub
15  ¦   °--... 2 nodes w/ 104 sub
16  °--Tracheophyta
17      °--... 1 nodes w/ 26 sub

In [13]:
df_rank <- ToDataFrameTypeCol(plant_families, type = "rank")
df_rank[10:20,] |> tibble::as_tibble() |> print(max_footer_lines = 2)

# A tibble: 11 × 10
   rank_kingdom rank_subkingdom rank_phylum rank_class rank_order  rank_subclass
   <chr>        <chr>           <chr>       <chr>      <chr>       <chr>
 1 Plantae      NA              Bryophyta   Bryopsida  Bryales     Bryidae
 2 Plantae      NA              Bryophyta   Bryopsida  Hedwigiales Bryidae
 3 Plantae      NA              Bryophyta   Bryopsida  Hedwigiales Bryidae
 4 Plantae      NA              Bryophyta   Bryopsida  Hookeriales Bryidae
 5 Plantae      NA              Bryophyta   Bryopsida  Hookeriales Bryidae
 6 Plantae      NA              Bryophyta   Bryopsida  Hookeriales Bryidae
 7 Plantae      NA              Bryophyta   Bryopsida  Hookeriales Bryidae
 8 Plantae      NA              Bryophyta   Bryopsida  Hookeriales Bryidae
 9 Plantae      NA              Bryophyta   Bryopsida  Hypnales    Bryidae
10 Plantae      NA              Bryophyta   Bryopsida  Hypnales    Bryidae
11 Plantae      NA              Bryophyta   Bryopsida  Hypnales    Bryidae
# ℹ 4 more variables: rank_superorder <chr>, rank_suborder <chr>,
#   rank_subphylum <chr>, rank_family <chr>

### update table with taxonomy
Add column with the plant order from the taxonomy:

In [14]:
spp.table$rank_order <- df_rank$rank_order[match(spp.table$family,df_rank$rank_family)]

In [15]:
fabales <- c("Fabaceae (Faboideae)", "Fabaceae (Mimosoideae)", "Fabaceae (Caesalpinioideae)" )
unplaced <- c("Dilleniaceae", "Flacourtiaceae")
single_family <- c("Boraginaceae")
rosales <- c("Malaceae")
lamiales <- c("Myoporaceae", "Buddlejaceae")
polypodiales <- c("Pteridaceae")
asparagales <- c("Anthericaceae","Phormiaceae","Lomandraceae", "Agavaceae", "Hyacinthaceae")
ranunculales <- c("Fumariaceae")
malvales <- c("Tiliaceae")

In [16]:
spp.table <- spp.table %>% mutate(
    rank_order = case_when(
            family %in% fabales ~ "Fabales",
            family %in% unplaced ~ "unplaced",
            family %in% rosales ~ "Rosales",
            family %in% lamiales ~ "Lamiales",
            family %in% polypodiales ~ "Polypodiales",
            family %in% asparagales ~ "Asparagales",
            family %in% ranunculales ~ "Ranunculales",
            family %in% malvales ~ "Malvales",
            family %in% single_family ~ sprintf("fam. %s",family),
            is.na(rank_order) ~ "unknown",
            TRUE ~ rank_order
        ))

In [17]:
spp.table %>% 
    filter(rank_order %in% c(NA,"unknown")) %>% 
    group_by(family) %>% 
    summarise(nspp=n()) %>% 
    arrange(desc(nspp))

   family             nspp
1  Unknown Flora      32
2  Athyriaceae        15
3  Lemnaceae          13
4  Viscaceae          13
5  Stackhousiaceae    12
6  Characeae           9
7  Callitrichaceae     8
8  Dipsacaceae         6
9  Najadaceae          6
10 Peperomiaceae       6
11 Selaginaceae        5
12 Uvulariaceae        5
13 Zannichelliaceae    5
14 Azollaceae          4
15 Cladophoraceae      4
16 Cobaeaceae          3
17 Convallariaceae     3
18 Valerianaceae       3
19 Codiaceae           2
20 Hydrophyllaceae     2
21 Nandinaceae         2
22 Peganaceae          2
23 Ulvaceae            2
24 Aucubaceae          1
25 Bangiaceae          1
26 Batrachospermaceae  1
27 Bombacaceae         1
28 Calomniaceae        1
29 Caulacanthaceae     1
30 Caulerpaceae        1
31 Chordariaceae       1
32 Cystoseiraceae      1
33 Delesseriaceae      1
34 Gracilariaceae      1
35 Hormosiraceae       1
36 Hypneaceae          1
37 Limnocharitaceae    1
38 Parkeriaceae        1
39 Platyzomataceae     1
40 Psilosiphonaceae    1
41 Punicaceae          1
42 Rhodomelaceae       1
43 Ruscaceae           1
44 Sargassaceae        1
45 Sporochnaceae       1
46 Ternstroemiaceae    1
47 Vittariaceae        1

Need to check this again, according to David, there should be around 6000 plant species in NSW, is this list including that many synonyms?

In [39]:
table(spp.table$current)

false  true
 3511 12221

In [43]:
spp.table %>%
    #filter(current %in% "true") %>%
    group_by(taxonrank,establishment) %>%
    summarise(total=n(), nspp = n_distinct(spp), ncurrent=n_distinct(current_spp), .groups = "drop")

   taxonrank         establishment          total nspp  ncurrent
1  Cultivar          Alive in NSW, Native       3     3    3
2  Cultivar          Introduced                12    12    8
3  Forma             Alive in NSW, Native      60    60   51
4  Forma             Introduced                11    11    6
5  Hybrid            Alive in NSW, Native       1     1    1
6  Nothomorph        Introduced                 2     2    2
7  Species           Alive in NSW, Native   10231 10231 7943
8  Species           Extinct in NSW, Native    38    38   28
9  Species           Introduced              3255  3255 2763
10 Species           Not Known from NSW        23    23   22
11 Species Hybrid    Alive in NSW, Native       9     9    9
12 Species Hybrid    Hybrid                     1     1    1
13 Species Hybrid    Introduced                 1     1    1
14 Subspecies        Alive in NSW, Native    1115  1115  766
15 Subspecies        Extinct in NSW, Native     8     8    3
16 Subspecies        Introduced               211   211  124
17 Subspecies        Not Known from NSW         3     3    3
18 Subspecies Hybrid Alive in NSW, Native       8     8    2
19 Variant           Alive in NSW, Native       6     6    6
20 Variety           Alive in NSW, Native     578   578  379
21 Variety           Extinct in NSW, Native     1     1    1
22 Variety           Introduced               153   153   97
23 Variety           Not Known from NSW         2     2    2

Examine records for species that are not current:

In [44]:
head(subset(spp.table, current %in% "false"))

   family               genus       spp
7  Poaceae              Anthosachne 2364
12 Ericaceae            Agiortia    2369
14 Fabaceae (Faboideae) Abrus       2371
15 Poaceae              Paractaenum 2372
17 Pteridaceae          Adiantum    2374
28 Plantaginaceae       Linaria     2385
   species                                      current_spp
7  Elymus scaber                                22952
12 Leucopogon pedicillatus                      17241
14 Abrus precatorius                            13410
15 Paractaenum novae-hollandiae subsp. reversum  3507
17 Adiantum silvaticum var. silvaticum           7567
28 Linaria genistifolia                         12682
   current_species                      taxonrank  establishment        current
7  Anthosachne scabra                   Species    Alive in NSW, Native false
12 Agiortia pedicellata                 Species    Alive in NSW, Native false
14 Abrus precatorius subsp. precatorius Subspecies Introduced           false
15 Paractaenum novae-hollandiae         Species    Alive in NSW, Native false
17 Adiantum silvaticum                  Species    Alive in NSW, Native false
28 Linaria dalmatica                    Species    Introduced           false
   nquadrat ⋯ repr4 repr2 surv5 surv6 surv7 disp1 repr3a repr3 surv4 surv1
7  1        ⋯ 0     0     0     0     0     0     1      0     1     3
12 0        ⋯ 0     0     0     0     0     0     0      0     0     0
14 0        ⋯ 0     0     0     0     0     2     0      0     0     0
15 0        ⋯ 0     0     0     0     0     0     0      0     0     0
17 0        ⋯ 0     0     0     0     0     0     0      0     0     0
28 0        ⋯ 0     0     0     0     0     0     0      0     0     0

In [45]:
spp.table %>% slice(1:5)

  family       genus      spp  species                 current_spp
1 Brassicaceae Lepidium   2358 Lepidium oxytrichum     2358
2 Myrtaceae    Eucalyptus 2359 Eucalyptus williamsiana 2359
3 Myrtaceae    Melaleuca  2360 Melaleuca glomerata     2360
4 Apiaceae     Actinotus  2361 Actinotus helianthi     2361
5 Apiaceae     Apium      2362 Apium prostratum        2362
  current_species         taxonrank establishment        current nquadrat ⋯
1 Lepidium oxytrichum     Species   Alive in NSW, Native true    0        ⋯
2 Eucalyptus williamsiana Species   Alive in NSW, Native true    0        ⋯
3 Melaleuca glomerata     Species   Alive in NSW, Native true    0        ⋯
4 Actinotus helianthi     Species   Alive in NSW, Native true    0        ⋯
5 Apium prostratum        Species   Alive in NSW, Native true    0        ⋯
  repr4 repr2 surv5 surv6 surv7 disp1 repr3a repr3 surv4 surv1
1 0     0     0     0     0     3     0      0     0      1
2 0     0     0     0     0     0     0      0     0      6
3 0     0     0     0     0     0     0      0     0      3
4 1     0     2     0     1     3     0      3     0     14
5 0     0     0     0     0     1     0      0     0      1

## Literature vs. field work data
Let's check how many valid species have information from both sources

In [47]:
 spp.table %>% 
    filter(
        #current %in% "true", 
           taxonrank %in% "Species",
           establishment %in% "Alive in NSW, Native") %>%
    mutate(
     fieldwork_sources =  nquadrat>0,
     literature_sources = (disp1 +
                           germ1 + germ8 + 
                           rect2 + 
                           grow1 + 
                           repr2 + repr3a + repr3 + repr4 +  
                           surv1 + surv4 + surv5 + surv6 + surv7) > 0
    ) %>% 
    group_by(fieldwork_sources,literature_sources) %>% 
    summarise(total = n_distinct(species), total_current = n_distinct(current_species), .groups = "drop")

  fieldwork_sources literature_sources total total_current
1 FALSE             FALSE              4504  3767
2 FALSE              TRUE              4812  4509
3  TRUE             FALSE                97    97
4  TRUE              TRUE               776   774

In [48]:
4509+97+774

[1] 5380

In [24]:
sum(spp.table$repr2>0)

[1] 138

In [25]:
saveRDS(file=here::here('data','Summary-traits-species.rds'),spp.table)