# Fireveg DB - overview of taxonomic coverage

Author: [José R. Ferrer-Paris](https://github.com/jrfep) and [Ada Sánchez-Mercado](https://github.com/adasanchez)

Date: July 2024

This Jupyter Notebook includes **R code to analyse and visualise** data exported from the Fireveg Database. 

Here we will read input from a public data record of the database to answer some questions about the data coverage of the database.

```mermaid
flowchart LR
    Litrev & Form  --> Fireveg --> DR --> Code --> Q1 & Q2 & Q3
    Q2 --> Q4 & Q5 & Q6
    Fireveg[(Fireveg\nDatabase)]
    Litrev[Field work\ndata stream] 
    Form[Existing sources\n data stream] 
    BioNet(BioNet Atlas\nSpecies list) 
    BioNet -.-> Fireveg
    DR[Exported\nData Record\nVersion 1.1]
    Code{R code\nfor analysis}:::ThisRepo
    Q1[Q1. Trait descriptions]:::ThisRepo
    Q2["Q2. Taxonomic coverage\n(NSW plant species)"]:::ThisRepo
    Q3["Q3. ..."]    
    Q4["Q2.1 ..."]:::ThisRepo   
    Q5["Q2.2 ..."]:::ThisRepo
    Q6["Q2.3 etc."]:::ThisRepo
classDef ThisRepo fill:none,stroke:black,color:black;

```

## Set-up

### Load packages

In [1]:
library(ggplot2)
library(dplyr)
require(tidyr)
library(igraph)
library(ggraph)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: tidyr


Attaching package: ‘igraph’


The following object is masked from ‘package:tidyr’:

    crossing


The following objects are masked from ‘package:dplyr’:

    as_data_frame, groups, union


The following objects are masked from ‘package:stats’:

    decompose, spectrum


The following object is masked from ‘package:base’:

    union

For [Markdown display from a code cell](https://stackoverflow.com/questions/35786496/using-r-in-jupyter-display-markdown-in-loop?rq=4).

In [2]:
library(IRdisplay)

For data download from cloud storage

In [3]:
require(osfr)
library(jsonlite)

Loading required package: osfr

Automatically registered OSF personal access token

### Paths for inputs and outputs

Locate the root directory of the repo

In [4]:
here::i_am("Notebooks/Overview-taxonomic-coverage.ipynb")

here() starts at /Users/z3529065/proyectos/fireveg/fireveg-analysis

Relative path to local data files within project repository

In [5]:
data_dir <- here::here("data")
if (!dir.exists(data_dir))
    dir.create(data_dir)

### Download data from OSF

 <div class="alert alert-info">
     <img src='../img/open-data-2.png' width=25 alt="open data icon"/>
Data for this Notebook is available from the following OSF repository:

> Ferrer-Paris, J. R., Keith, D., & Sánchez-Mercado, A. (2024, August 15). Export data records from Fire Ecology Traits for Plants database. Retrieved from [osf.io/h96q2](https://osf.io/h96q2/)
</div>

Here we will download data programmatically from OSF cloud storage to our local data folder. First we will check the metadata for the target file. We use the `osf_ls_files` function from package `osfr` to explore the metadata of the file associated to the OSF component.

In [6]:
osf_project <- osf_retrieve_node("https://osf.io/h96q2")
file_list <- osf_ls_files(osf_project)

In [7]:
select(file_list, name, id)

   name                              id
1  fire-history.rds                  6452ba9d13904f00b7fc85d2
2  Quadrat-sample-data.rds           6452bab38ea16b0093b69427
3  site-visits.rds                   6452bac07177850087b0f73c
4  Summary-traits-family.rds         6452bacfb30b4900b4b9ddc4
5  Summary-traits-species.rds        6452bae3717785008bb0f4b1
6  field-sites.gpkg                  648a583bbee36d028d0e6261
7  Summary-traits-sources.rds        64966f6fa2a2f4075a436743
8  Trait-info.rds                    649a64e8a2a2f40aa7436407
9  References-traits-sources.rds     66c8198039554f1e062d2f46
10 Summary-traits-species-orders.rds 66c829ef6725569184c5ca7a

We will select a subset of files to download

In [8]:
files_to_download <- c(
    "Trait-info.rds",
    "Summary-traits-sources.rds", 
    "References-traits-sources.rds",
    "Quadrat-sample-data.rds",
    "Summary-traits-species-orders.rds"
)

In [9]:
selected_files <- filter(file_list, name %in% files_to_download)

To download the latest version we apply the `osf_download` function with option `conflicts="overwrite"`. 
If we already have the latest version we can choose option `conflicts="skip"`.

In [10]:
downloaded_files <- osf_download(selected_files,
             data_dir,
             conflicts = "overwrite")

**What about older versions?**

We can request more complete version information with a direct call to the API using the `read_json` function. For example the version for the first downloaded file are available here:

In [11]:
file_versions <- read_json(downloaded_files$meta[[1]]$relationships$versions$links$related$href)

And we could use these urls to download specific versions:

In [12]:
results <- lapply(file_versions$data, function(x) {
    sprintf("version id %s from %s available at %s\n",
            x$id,
            x$attributes$date_created,
            x$links$download)
})
for (res in results) 
    cat(res)

version id 7 from 2024-08-23T09:56:59.235285 available at https://osf.io/download/6452bab38ea16b0093b69427/?revision=7
version id 6 from 2024-08-23T04:45:32.377746 available at https://osf.io/download/6452bab38ea16b0093b69427/?revision=6
version id 5 from 2024-08-22T12:27:43.452137 available at https://osf.io/download/6452bab38ea16b0093b69427/?revision=5
version id 4 from 2024-08-14T21:45:11.547888 available at https://osf.io/download/6452bab38ea16b0093b69427/?revision=4
version id 3 from 2023-09-11T09:37:38.971966 available at https://osf.io/download/6452bab38ea16b0093b69427/?revision=3
version id 2 from 2023-06-01T04:36:35.649577 available at https://osf.io/download/6452bab38ea16b0093b69427/?revision=2
version id 1 from 2023-05-03T19:49:07.778770 available at https://osf.io/download/6452bab38ea16b0093b69427/?revision=1

### Read data from local folder

The data is now available in our local data folder and we can use `readRDS` to read this file into our R session:

In [13]:
traits_table <- readRDS(here::here(data_dir,'Summary-traits-sources.rds'))
references <- readRDS(here::here(data_dir,"References-traits-sources.rds"))
quadrat_samples <- readRDS(here::here(data_dir,"Quadrat-sample-data.rds"))
trait_info <- readRDS(here::here(data_dir,"Trait-info.rds"))

Import summary of species with traits information from existing sources and field work and with extra taxonomic information (plant orders).

In [14]:
spp_traits_table <- readRDS(here::here(data_dir,"Summary-traits-species-orders.rds")) |>
  rowwise() |>
  mutate(`Existing sources`=sum(c_across(germ8:surv1))>0) %>% # add column for summary of literature traits
  ungroup() |>
  mutate(
    `Field samples`=nquadrat>0, ## add colum for summary of field work data
    fire_ecology_traits_from=case_when(
      `Field samples` & `Existing sources` ~ "both",
      `Field samples` ~ "field",
      `Existing sources` ~ "literature",
      TRUE ~ "none"
    )
  )

## Fireveg Database

### Trait descriptions

```mermaid
flowchart LR
     Fireveg --> DR --> Code --> Q1 & Q2 & Q3
    Q2 --> Q4 & Q5
    Fireveg[(Fireveg\nDatabase)]
   
    DR[Exported\nData Record\nVersion 1.1]
    Code{R code\nfor analysis}:::ThisRepo
    Q1[Q1. Trait descriptions]:::ThisRepo
    Q2["Q2. Taxonomic coverage\n(NSW plant species)"]
    Q3["Q3. ..."]    
    Q4["Q4. ..."]   
    Q5["Q5. ..."]
classDef ThisRepo fill:none,stroke:black,color:black;

```

The data frame `trait_info` includes descriptions of all traits, here we show the priority traits that are already uploaded in the current version of the database.

In [15]:
tbl_trait_info <- trait_info %>% 
  filter(!is.na(priority)) %>%
  rowwise() %>% 
  mutate(Code=code, Trait=name, 
         Description = description,
            `Classification` = paste( 
              life_stage,
              life_history_process, 
              sep="/")) %>%
  ungroup() %>% 
    arrange(desc(life_history_process),Code) %>% 
  select(Code, Trait, Classification, Description) %>%
  knitr::kable()
    
display_markdown(paste(as.character(tbl_trait_info), collapse="\n"))

|Code   |Trait                                                |Classification              |Description                                                                                                                                   |
|:------|:----------------------------------------------------|:---------------------------|:---------------------------------------------------------------------------------------------------------------------------------------------|
|surv1  |Resprouting - full canopy scorch                     |Standing plant/Survival     |Ordinal categories of survival and resprouting proportions for plants subjected to 100% canopy scorch                                         |
|surv4  |Regenerative Organ                                   |Standing plant/Survival     |NA                                                                                                                                            |
|surv5  |Standing plant longevity (Max)                       |Standing plant/Survival     |Age at which 50% of individuals in a cohort (excluding outliers) have died from senescence                                                    |
|surv6  |Seedbank half-life                                   |Seed/Survival               |Age at which 50% of a seed cohort in an in situ seedbank have decayed or become inviable                                                      |
|surv7  |Seed longevity                                       |Seed/Survival               |Age at which all seeds in a cohort (excluding outliers, e.g. 95th percentile) have decayed or become inviable                                 |
|repr2  |Post-fire flowering response                         |Standing plant/Reproduction |NA                                                                                                                                            |
|repr3  |Age at first flower production (from seed)           |Standing plant/Reproduction |The time taken for first individual in a recruitment cohort to produce their first reproductive organs (e.g. flowers, sporophylls)            |
|repr3a |Time to first postfire reproduction (from resprouts) |Standing plant/Reproduction |The time taken after fire for first reproductive organs (e.g. flowers, sporophylls) to be produced in a population of resprouting individuals |
|repr4  |Maturation age                                       |Standing plant/Reproduction |The time taken for 50% of individuals in a cohort [even aged recruits] to produce their first viable seed                                     |
|rect2  |Establishment pattern                                |Seedling/Recruitment        |The temporal pattern of seedling or clonal establishment through the fire cycle                                                               |
|grow1  |Age to develop regenerative/resistance organs        |Standing plant/Growth       |The time taken to develop organs or tissues enabling at least 50% of cohort survival when fully scorched in a fire                            |
|germ1  |Seedbank Type                                        |Seed/Germination            |NA                                                                                                                                            |
|germ8  |Seed dormancy type                                   |Seed/Germination            |NA                                                                                                                                            |
|disp1  |Propagule dispersal mode                             |Seed/Dispersal              |Propagule dispersal mode                                                                                                                      |

### Taxonomic coverage

```mermaid
flowchart LR
     Fireveg --> DR --> Code --> Q1 & Q2 & Q3
    Q2 --> Q4 & Q5 & Q6
    Fireveg[(Fireveg\nDatabase)]
   
    DR[Exported\nData Record\nVersion 1.1]
    Code{R code\nfor analysis}:::ThisRepo
    Q1[Q1. ...]
    Q2["Q2. Taxonomic coverage\n(NSW plant species)"]:::ThisRepo
    Q3["Q3. ..."] 
    Q4["Q4. Species in NSW"]:::ThisRepo  
    Q5["Q5. Existing sources"]:::ThisRepo  
    Q6["Q6. Field work data"]:::ThisRepo   
classDef ThisRepo fill:none,stroke:black,color:black;

```

We will now look at how many species from the NSW BioNet Atlas are represented in the fireveg database. First let's take a look at the NSW flora, and then we will query how many species have information about fire ecology traits from existing sources or field work. We will combine this information in the final subsection.

#### Plant species in NSW according to BioNet Atlas

The data frame `spp_traits_table` is based on the BioNet Altas list of species. 

This list includes around 8170 distinct taxa (based on current taxonomic status) at the species level which are considered native and alive in NSW. It also includes  around 1250 infra-species level taxa considered to be alive in NSW.

In [16]:
spp_traits_table |>
    group_by(`species level`= taxonrank %in% "Species",establishment) |>
    summarise(records=n(), `original names` = n_distinct(spp), `current names`=n_distinct(current_species), .groups = "drop")

  species level establishment          records original names current names
1 FALSE         Alive in NSW, Native    1813    1813          1251
2 FALSE         Extinct in NSW, Native     9       9             4
3 FALSE         Hybrid                     1       1             1
4 FALSE         Introduced               399     399           242
5 FALSE         Not Known from NSW         5       5             5
6  TRUE         Alive in NSW, Native   10556   10556          8169
7  TRUE         Extinct in NSW, Native    38      38            28
8  TRUE         Introduced              3309    3309          2804
9  TRUE         Not Known from NSW        27      27            26

Here we focus on the current names, that means that information collected under two or more different, older taxonomic names for a single current taxonomic name is interpreted here as being equivalent to redundant information records from a single taxon. It is important to keep this in mind to avoid double counting or inconsistencies in the following queries.

#### Fire ecology traits from existing sources

First we check the number of taxa with at least one record from existing sources:

In [17]:
spp_traits_table |>
    filter(`Existing sources`>0) |>
    group_by(`species level`= taxonrank %in% "Species",establishment) |>
    summarise(records=n(), `original names` = n_distinct(spp), `current names`=n_distinct(current_species), .groups = "drop")

  species level establishment          records original names current names
1 FALSE         Alive in NSW, Native   1019    1019            844
2 FALSE         Extinct in NSW, Native    7       7              4
3 FALSE         Introduced               59      59             46
4 FALSE         Not Known from NSW        1       1              1
5  TRUE         Alive in NSW, Native   5854    5854           5509
6  TRUE         Extinct in NSW, Native   22      22             20
7  TRUE         Introduced              696     696            669
8  TRUE         Not Known from NSW       17      17             16

Focusing on taxa at the species level, we want to get an overview of records from the two main sources imported in this data stream. Here we filter the `traits_table` data frame which has information about main sources and the primary sources references by each record.

In [18]:
summary_per_source <- traits_table |> 
    filter(taxonrank %in% "Species") |>
    group_by(main_source) |>
    summarise(
        records=n_distinct(rid),
        traits = n_distinct(traitcode),
        species=n_distinct(current_species), 
        sources=n_distinct(primary_source))

In [19]:
summary_per_source

  main_source     records traits species sources
1 NSWFFRDv2.1      9486   12     2549    203
2 austraits-6.0.0 39820    5     6173    153

There are a few problems with some sources. The Austraits data includes the NSWFFRD data, so we should exclude this to avoid the most obvious duplicate entries. Other duplicates might still be present, but a manual curation of the source list is needed to flag this.

Another problem is that some items in the source list do not have reference information in the database (no entries in the `references` data frame. These sources are mentioned in the primary source column, but bibliographic details are incomplete or missing from our database:

In [20]:
traits_table |> 
    filter(!primary_source %in% references$ref_code) |>
    distinct(primary_source) |> arrange() |> pull()

 [1] "JRS_2004"                    "KNP plots"
 [3] "Latz_2004"                   "Liddle_2004"
 [5] "Albrecht_2004"               "Brock_2004"
 [7] "Brennan_2004"                "Unknown"
 [9] "Brock_2005"                  "Nitmiluk plots"
[11] "Yates_2003"                  "Cowie_2019"
[13] "Nano_2005"                   "Cowie_2004"
[15] "Duguid_2004"                 "I.D.Cowie"
[17] "Crowley_2007; Paula_2009"    "Tooth_2013"
[19] "WAH_2022"                    "Murray_1986"
[21] "ODowd_1986"                  "Davidson_1984"
[23] "Berg_1975"                   "Herrera_1998"
[25] "Sen_1982"                    "Tomlinson_1986"
[27] "Enright_1995"                "Ridley_1930"
[29] "Cook_1987"                   "Corlett_1996"
[31] "vanRheedevanOudtshoorn_1999" "Zona_1989"
[33] "Zona_2001"                   "Milton_2001"
[35] "vanderPijl_1982"             "Whelan_1986"
[37] "Baraloto_2007"               "MorenoCasasola_1994"
[39] "Gunn_1999"                   "Foster_1986"
[41] "Young_1992"                  "Cremer_1977"
[43] "Howe_1986"                   "Kozlowski_1972"
[45] "Hocking_1987"                "Rutledge_2019"
[47] "Agami_1988"                  "Mori_1998"
[49] "Bouman_2000"                 "Gibson_1995"
[51] "Garrison_2000"               "authors"
[53] "Williams_2011"               "Benson McDougall 2000"
[55] "Benson 1986"

If we exclude those there is a drop in the number of records and species.

In [21]:
traits_table |>
    filter(taxonrank %in% "Species") |>
    filter(!primary_source %in% 'Kenny Orscheg Tasker Gill Bradstock 2014', # this is the same as NSWFFRDv2.1
           primary_source %in% references$ref_code) |> # exclude transcription errors
    group_by(main_source) |>
    summarise(
        total=n(), 
        records=n_distinct(rid), 
        species=n_distinct(current_species), 
        sources=n_distinct(primary_source))

  main_source     total records species sources
1 NSWFFRDv2.1     11010  9482   2549    202
2 austraits-6.0.0 34204 33613   5997    100

#### Field work data

Next, we look at the taxa represented in the field work data. How many species have at least one record in the field sample?

In [22]:
spp_traits_table |>
    filter(`Field samples`) |>
    group_by(`species level`= taxonrank %in% "Species",establishment) |>
    summarise(records=n(), `original names` = n_distinct(spp), `current names`=n_distinct(current_species), .groups = "drop")

  species level establishment        records original names current names
1 FALSE         Alive in NSW, Native  68      68             68
2 FALSE         Introduced             2       2              2
3  TRUE         Alive in NSW, Native 812     812            806
4  TRUE         Introduced            84      84             81

In order to get more detailed break down of numbers, we use the `quadrat_samples` data frame:

In [23]:
quadrat_samples |> 
    filter(!is.na(species_code),
           taxonrank %in% "Species") |>
    group_by(survey_name) |>
    summarise(
        locations = n_distinct(visit_id),
        visits  = n_distinct(visit_id, visit_date),
        samples  = n_distinct(visit_id, visit_date, sample_nr),
        records = n(), 
        species = n_distinct(species),
        current_species = n_distinct(current_species), 
        codes = n_distinct(species_code))

   survey_name         locations visits samples records species current_species
1  Alpine Bogs          6         6     120     1435    109     109
2  KNP AlpAsh           8         8      32      593     85      85
3  Mallee Woodlands    61        85     510     7054    129     129
4  NEWNES              20        20     383     2950    109     109
5  Rainforests NSW-Qld 10        10      60     1503    271     270
6  Robertson RF         2         2       8      207     51      51
7  SthnNSWRF            4         4      15      162     67      67
8  TO BE CLASSIFIED     3         3      11      374    128     127
9  UplandBasalt        27        27      80     1454    231     230
10 Yatteyattah          5         5       5      258    125     125
   codes
1  109
2   85
3  129
4  109
5  271
6   51
7   67
8  128
9  231
10 125

The Mallee Woodlands survey is a longer time series of observation in a single region in Western New South Wales, while all the other surveys represent samples completed after the 2019-2020 fires in Eastern New South Wales. We will calculate summary statistics for these two groups:

In [24]:
summary_per_survey <- quadrat_samples |> 
    filter(!is.na(species_code),
           taxonrank %in% "Species") |>
    group_by(survey_group=survey_name %in% "Mallee Woodlands") |>
    summarise(
        locations = n_distinct(visit_id),
        visits  = n_distinct(visit_id, visit_date),
              samples  = n_distinct(visit_id, visit_date, sample_nr),
              records = n(), 
              species = n_distinct(species),
              current_species = n_distinct(current_species), 
              codes = n_distinct(species_code)) |> 
    arrange(survey_group)

In [25]:
summary_per_survey

  survey_group locations visits samples records species current_species codes
1 FALSE        85        85     714     8936    773     765             773
2  TRUE        61        85     510     7054    129     129             129

### Considering both sources

If we focus only on the taxa at the species level which are native and alive in NSW, we can look at the overlap between both field work data and existing sources:

In [26]:
spp_traits_table |> 
    filter(
           taxonrank %in% "Species",
           establishment %in% "Alive in NSW, Native") |>
    group_by(`Field samples`, `Existing sources`) |>
    summarise(total = n_distinct(scientific_name), 
              total_current = n_distinct(current_species), 
              .groups = "drop")

  Field samples Existing sources total total_current
1 FALSE         FALSE            4574  3844
2 FALSE          TRUE            5129  4843
3  TRUE         FALSE              87    87
4  TRUE          TRUE             724   723

And the same for all species (native and introduced):

In [27]:
spp_traits_table |> 
    filter(
           taxonrank %in% "Species") |>
    group_by(`Field samples`, `Existing sources`) |>
    summarise(total = n_distinct(scientific_name), 
              total_current = n_distinct(current_species), 
              .groups = "drop")

  Field samples Existing sources total total_current
1 FALSE         FALSE            7195  6140
2 FALSE          TRUE            5793  5484
3  TRUE         FALSE             100   100
4  TRUE          TRUE             795   793

As mentioned above, there might be some overlaps in these numbers due to a species being represented by multiple records with different older/outdated names. Best way to get a total number of current species included in the database is this:

In [28]:
total_records <- spp_traits_table |> 
    filter(
           taxonrank %in% "Species") |>
    filter(`Field samples` | `Existing sources`) |>
    summarise(total_current=n_distinct(current_species))

In [29]:
total_records

  total_current
1 6287

Is this the same as the sum of the values in the above table?

In [30]:
5484+100+793

[1] 6377

Now we can prepare a summary of all data inputs:

In [31]:
new_surveys <- quadrat_samples |> filter(!survey_name %in% c("Mallee Woodlands"))
old_surveys <- quadrat_samples |> filter(survey_name %in% c("Mallee Woodlands"))
total_spp <- pull(total_records,total_current)
NSWFFRD_records <- filter(summary_per_source, main_source %in% 'NSWFFRDv2.1')
Austraits_records <- filter(summary_per_source, main_source %in% 'austraits-6.0.0')
Postfire_samples <- filter(summary_per_survey, !survey_group)
Mallee_samples <- filter(summary_per_survey, survey_group)

In [32]:
tbl = sprintf("
| Type	| Unit of observation	| Spatial information	| Number of records	| Number of taxa (including non-native)	| Data source |
|---|---|---|---|---|---|
| **Primary Observations** |
| Post-fire field surveys | Individual | %s sites | %s | %s  | East coast post-fire surveys 2020-2022 |
| Time series field observations | Individual | %s sites | %s | %s | Mallee vegetation dynamics 2007-2018 [@Keith_Tozer_2012] |
| **Compilations** |
| Fire response 	| Species	| Not applicable	| %s	| %s	 | %s sources compiled in NSW plant fire response database [@Kenny2014] | 
|Species traits	| Individuals / Populations / Species	| Variable |	%s	| %s	 | %s sources compiled in AusTraits plant database [@Falster2021] |
| Total | |  |  | %s  |
", 
              Postfire_samples$locations, Postfire_samples$records, Postfire_samples$current_species,
            Mallee_samples$locations, Mallee_samples$records, Mallee_samples$current_species,
              NSWFFRD_records$records, NSWFFRD_records$species, NSWFFRD_records$sources,
              Austraits_records$records, Austraits_records$species, Austraits_records$sources,
               total_spp
             )

display_markdown(tbl)

| Type	| Unit of observation	| Spatial information	| Number of records	| Number of taxa (including non-native)	| Data source |
|---|---|---|---|---|---|
| **Primary Observations** |
| Post-fire field surveys | Individual | 85 sites | 8936 | 765  | East coast post-fire surveys 2020-2022 |
| Time series field observations | Individual | 61 sites | 7054 | 129 | Mallee vegetation dynamics 2007-2018 [@Keith_Tozer_2012] |
| **Compilations** |
| Fire response 	| Species	| Not applicable	| 9486	| 2549	 | 203 sources compiled in NSW plant fire response database [@Kenny2014] |
|Species traits	| Individuals / Populations / Species	| Variable |	39820	| 6173	 | 153 sources compiled in AusTraits plant database [@Falster2021] |
| Total | |  |  | 6287  |

## That is it for now!

✅ Job done! 😎👌🔥

You can:
- go [back home](../Instructions-and-workflow.ipynb),
- continue navigating the repo on [GitHub](https://github.com/ces-unsw-edu-au/fireveg-db-exports)
- continue exploring the repo on [OSF](https://osf.io/h96q2/).
- visit the database at <http://fireecologyplants.net>